@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


/*Letras sin subrayado*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*subrayado */
    font-family: var(--secondary-font);
    color: var(--color);
    scroll-behavior: smooth;
    
}
/*raiz*/
:root {
    --bg: #252a34; /*background short*/
    --bg-dark: #1d1d1d;
    --color: #eaeaea;
    --light-color: #eaeaeaa4;
    --primary-color: #08d9d6;
    --secondary-color: #ff2e63;
    --about: #1a1a1a;
    --skills1: #8e2de2;
    --skills2: #f953c6;
    --projects: #1a1a1a; 
    --font: 'Crimson Text', serif;
    --secondary-font: 'Work Sans', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
  }

body{
    background-color: var(--bg);
    color: var(--color);
    min-height: 1000px;
}

/*clase de la seccion*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------HEADER----------------------------*/
header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 10px 50px;
    z-index: 10000;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    transition: 0.5s;
}

/*Cambiar de color al bajar el con el scroll*/
.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    /* display: none; */
}

.sticky .logo {
    color: #111
}

header .logo {
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 2.5em;
    text-decoration: none;
}

header .logo span {
    font-family: var(--poppins-font);
    color: #ff0157;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    font-family: var(--poppins-font);
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}
header .navigation li a:hover {
    color: #ff0157;
    letter-spacing: 2px;
}

.sticky .navigation li a {
    color: #111;
}

/* .menuToggle{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
} */


/*---------Aqui inicia el home---------*/
#home {
    width: 100%;
    padding: 10em 0;
    backdrop-filter: blur(1px);
    backdrop-filter: contrast(250px);
    position: relative;
    justify-content: space-around; /*Crea un espacio entre el texto y la imagen*/
    flex-wrap: wrap-reverse;
}

#home::before {
    content: "";
    width: 100%;
    height: 30em;
    position: absolute;
    right: 25em;
    z-index: -1;
    background: rgb(19, 19, 19);
  }

/*div que contiene el texto*/
#home .user_info {
    margin: 0 30px;
}

/*tipo de letra y tamaño*/
#home .user_info .user_name {
    font-family: var(--font);
    font-size: 5em;
}
  
#home p {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    color: var(--light-color);
    margin-bottom: 1.5em;
 }


/*Imagen de perfil*/
#home .user_img img {
    width: 30rem;
    height: 30rem;
    /* width: 500px;
    height: 500px; */
    border-radius: 50%;
    margin: 0 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}

#home .user_info .btn {
    padding: 0.6em 2em;
    background: none;
    color: var(--color);
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    letter-spacing: 2px;
    transition: all 0.2s;
}

#home .user_info .btn:hover {
    background: var( --secondary-color );
    letter-spacing: 6px;/*extiende las letras*/
}

/* #particles-js {
    width: 100%;
    position: absolute;
    z-index: -1;
} */


/*------------------------About--------------------*/

.about {
    width: 100%;
    background: var( --about );
    padding: 6em 0;
}

.about div{
    width: 40%;
    flex-direction: column;
    align-items: flex;
    transition: all 0.2s
}

.about img {
    width: 25em;
    margin: 2em;
}

.about_heading {
    font-size: 6em;
    color: var( --color );
    opacity: 0.6;
}

.about p {
    font-size: 1.4em;
    color: var( --color );
    opacity: 0.6;
}


/*Seccion de habilidades*/
.skills {
    width: 100%;
    margin: 2em 0;
    padding: 5em;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}
/*circulos de adornos*/
.skills::before,
.skills::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: var( --skills1 );
    background: -webkit-linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    );
    border-radius: 50%;
}
/*circulo izquierdo*/
.skills::before { 
    left: -10em;
    bottom: 0;
}
/*circulo derecho*/
.skills::after {
    right: -10em;
    top: 8em;
    background: var( --skills2 );
    background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  );

}

/*div que contiene todas las habilidades*/
.habilidades {
    flex-wrap: wrap;
}

/*Div de habilidad*/
.habilidades .box{
    margin: 2em 2em;
    width: 15em;
    height: 12em;
    background: var( --bg-dark );
    background: rgba(255, 255, 255, 0.089); /*pone transparente el div*/
    backdrop-filter: blur(20px);/*se sobre pone sobre el circulo*/
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.habilidades .box::before {
    content: "";
    position: absolute;
    background: var(--secondary-color);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom;
    transform: scaleY(0.03);
    transition: all 0.3s;
}

.habilidades .box:hover::before {
    transform: scaleY(1);
}

.habilidades .box i {
    margin-bottom: 0.1em;
}

.skills_head {
    font-size: 6em;
    font-family: var(--font);
}


/*--------------------projects ---------------------------*/
.projects {
    width: 100%;
    padding: 4em 0;
    position: relative;
    flex-direction: column;
    background-color: var( --projects );
    overflow-x: hidden;
}

.projects::before,
.projects::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: #f953c6;
    background: -webkit-linear-gradient(
        to right,
        #b91d73,
        #f953c6
    );
    border-radius: 50%;
}

.projects::before {
    left: -10em;
    bottom: 0;
}

.projects::after {
    right: -10em;
    top: 8em;
    background: #8e2de2;
    background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
}

.projects .project_heading{
    margin-bottom: 0.4em;
    font-size: 6em;
    font-family: var( --font );
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index:  1;
}

/*div de cada cuadro*/
.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius:  15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/*contenido de cada tarjeta*/
.container .card .content{
    padding: 15px;
    text-align: center;
    transition: 0.5s;
}

/*titulo de tarjeta*/
.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    margin-bottom: 15px;
}

/*Parrafo*/
.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
}

.container .card .content .links {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;

}

.container .card .content a{
   position: relative;
   display: inline-block;
   padding: 4px 10px;
   margin-top:  30px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   font-weight: 500;
   box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
   transition: all 0.4s;
}

.container .card .content a:hover {
    color: #fff;
    background: var( --secondary-color);
}


/*-------------------FOOTER-------------------------*/
footer {
    width: 100%;
    padding: 3em 0;
    flex-direction: column;
    background: #1a1a1a;
}

footer .social_icons{
    margin-top: 1em;
    align-items: center;
    justify-content: center;

}

footer .social_icons a {
    margin: 0 .8em;
    border-radius:  50px;
}

footer .social_icons a i {
    font-size:  1.8em;
    padding: 0.2em;
    transition: color 0.4s;
}

footer .social_icons a:hover i {
    font-size: 1.8em;
    padding: 0.2em;
    color: rgba(54, 54, 54, 0.966);
}


/*-----------------createdBy--------------------------------*/
.createdBy {
    padding: 8px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.createdBy p {
    color: #fff;
}

/*----------------Responsive Design Media Query---------------*/
@media (max-width: 991px)
{
    .sticky{
        /* padding: 10px 20px; */
        display: none;
    }

    header .navigation {
        display: none; /*oculta la navegacion*/
    }
    
    .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        
    }

    .navigation li {
       list-style: none;
       margin-left: 0;
    } 

    .navigation li a {
       display: inline-block;
       color: #111;
       font-size: 1.9em;
    }

    .toMenu{
        width: 200px;
        height: 200px;
        backdrop-filter: blur(20px);
        border-radius: 15px;
        background: rgba(20, 20, 20, 0.178);
        position: fixed;
        top: 250px;
        right: 10px;
        z-index: 100;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all .4s;
      }
    .toMenu .box a{
    flex-direction: column;
    text-decoration: none;
    }
    .toMenu .box a i{
    font-size: 18px;
    }
    .toMenu .box a p{
    font-size: 12px;
    margin-top: 8px
    }
    .toMenu .box:nth-child(2){
    width: 100%;
    justify-content: space-evenly;
    }
    .toMenu .box input{
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(31, 31, 31);
    border: 6px solid rgba(255, 255, 255, 0.459);
    }
    .toMenu.active .box input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    }
    .toMenu.active{
    width: 50px;
    height: 50px;
    overflow: hidden;
    }

    /* .menuToggle {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: none;
    } */

    /* .menuToggle #close {
        display: none;
    } */

    /*icono de menu 'X' */
    /* .menuToggle.active #close{
        display: block;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    } */
    /*icono de menu '='*/
    /* .menuToggle.active #open{
        display: none;
    } */

    /*invertir el color cuando no hay scroll*/
    /* .sticky .menuToggle{
        filter: invert(1);
    } */

}

@media (max-width: 1120px){
    #home .user_img img {
        width: 25em;
        height: 25em;
    }

    .skills {
        height: 100%;
        padding: 5em 0;
    }

    .about {
        flex-direction: column;
    }

    .about div {
        width: 70%;
    }
}

@media (max-width: 990px){
    .skills {
        height: 100%;
        padding: 5em 0;
    }

    .habilidades .box {
        margin: 2em .6em;
        width: 12em;
        height: 8em;
    }

    .skills_head {
        font-size: 5em;
        font-family: var(--font);
    }

    .skills_head {
        font-size: 5em;
        font-family: var(--font);
    }

    .about_heading {
        font-size: 5em;
        font-family: var(--font);
    }

    .projects .project_heading {
        margin-bottom: 0.4em;
    }

}

@media (max-width: 700px){
    body {
        font-size: 13px;
    }

    .habilidades .box {
        margin: 2em 0.5em;
        width: 12em;
        height: 8em;
    }
}

@media (max-width: 450px) {
    #home .user_img img{
      width: 20em;
      height: 20em;
    }
    .projects .container .card .icon{
      height: 100%;
      padding: 0.2em;
    }
    .projects .container .card {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 2em 0.2em;
    }
  }

  @media (max-width: 360px) {
    body{
      font-size: 8px;
    }
    header {
        width: 100%;
        padding: 10px 100px;
    }

    .sticky {
        display: none;
    }
    
    .menuToggle {
        display: none;
    }

    header .logo {
        font-size: 4em;
        text-decoration: none;
    }
    
    header .logo span {
        font-size: 1em;
        text-decoration: none;
    }

  }