
/*Letras sin subrayado*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*subrayado */
    font-family: var(--secondary-font);
    color: var(--color);
    scroll-behavior: smooth;
    
}
/*raiz*/
:root {
    --bg: #252a34; /*background short*/
    --bg-dark: #1d1d1d;
    --color: #eaeaea;
    --light-color: #eaeaeaa4;
    --primary-color: #08d9d6;
    --secondary-color: #ff2e63;
    --about: #1a1a1a;
    --skills1: #8e2de2;
    --skills2: #f953c6;
    --projects: #1a1a1a; 
    --font: 'Crimson Text', serif;
    --secondary-font: 'Work Sans', sans-serif;
  }

body{
    background-color: var(--bg);
    color: var(--color);
}

/*Ancho maximo del div, pading justificado*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif; /*tipo de letra*/
    transition: all 0.3s ease;
}

.navbar.barra{
    padding: 15px 0;
    background: rgb(31, 97, 141);
}

.navbar .max-width{
    display: flex; /*Alinear con el logo*/
    align-items: center; /*centrar los items*/
    justify-content: space-between; /*justificar el especio de cada item*/
}

/*Colocar en horizontal el navbar*/
.navbar .menu li{
    list-style: none; /*Quitar viñetas*/
    display: inline-block; /* alinear horizontal*/
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: black;
}

/*Cambiar de color al colocar el puntero*/
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.logo a {
    color: #fff;
    font-size: 35px;
    display: flex;
    /* font-family: 'Ubuntu', sans-serif;  */
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*clase de la seccion*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------Aqui inicia el home---------*/
#home {
    width: 100%;
    padding: 12em 0;
    backdrop-filter: blur(1px);
    backdrop-filter: contrast(250px);
    position: relative;
    justify-content: space-around; /*Crea un espacio entre el texto y la imagen*/
    flex-wrap: wrap-reverse;
}

#home::before {
    content: "";
    width: 100%;
    height: 30em;
    position: absolute;
    right: 20em;
    z-index: -1;
    background: rgb(19, 19, 19);
  }

/*div que contiene el texto*/
#home .user_info {
    margin: 0 30px;
}

/*tipo de letra y tamaño*/
#home .user_info .user_name {
    font-family: var(--font);
    font-size: 5em;
}
  
#home p {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    color: var(--light-color);
    margin-bottom: 1.5em;
 }


/*Imagen de perfil*/
#home .user_img img {
    width: 30rem;
    height: 30rem;
    /* width: 500px;
    height: 500px; */
    border-radius: 50%;
    margin: 0 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}

#home .user_info .btn {
    padding: 0.6em 2em;
    background: none;
    color: var(--color);
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    transition: all 0.2s;
}

#home .user_info .btn:hover {
    background: var( --secondary-color );
}

#particles-js {
    width: 100%;
    position: absolute;
    z-index: -1;
}


/*------------------------About--------------------*/

.about {
    width: 100%;
    background: var( --about );
    padding: 13em 0;
}

.about div{
    width: 40%;
    flex-direction: column;
    align-items: flex;
    transition: all 0.2s
}

.about img {
    width: 35em;
    margin: 2em;
}

.about_heading {
    font-size: 1.4em;
    color: var( --color );
    opacity: 0.6;
}

.about p {
    font-size: 1.4em;
    color: var( --color );
    opacity: 0.6;
}


/*Seccion de habilidades*/
.skills {
    width: 100%;
    margin: 2em 0;
    padding: 8em 0;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}
/*circulos de adornos*/
.skills::before,
.skills::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: var( --skills1 );
    background: -webkit-linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    );
    border-radius: 50%;
}
/*circulo izquierdo*/
.skills::before { 
    left: -10em;
    bottom: 0;
}
/*circulo derecho*/
.skills::after {
    right: -10em;
    top: 8em;
    background: var( --skills2 );
    background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  );

}

/*div que contiene todas las habilidades*/
.habilidades {
    flex-wrap: wrap;
}

/*Div de habilidad*/
.habilidades .box{
    margin: 2em 2em;
    width: 15em;
    height: 12em;
    background: var( --bg-dark );
    background: rgba(255, 255, 255, 0.089); /*pone transparente el div*/
    backdrop-filter: blur(20px);/*se sobre pone sobre el circulo*/
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.habilidades .box::before {
    content: "";
    position: absolute;
    background: var(--secondary-color);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom;
    transform: scaleY(0.03);
    transition: all 0.3s;
}

.habilidades .box:hover::before {
    transform: scaleY(1);
}

.habilidades .box i {
    margin-bottom: 0.1em;
}

.skills_head {
    font-size: 6em;
    font-family: var(--font);
}


/*--------------------projects ---------------------------*/
.projects {
    width: 100%;
    padding: 15em 0;
    position: relative;
    flex-direction: column;
    background-color: var( --projects );
    overflow-x: hidden;
}

.projects::before,
.projects::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: #f953c6;
    background: -webkit-linear-gradient(
        to right,
        #b91d73,
        #f953c6
    );
    border-radius: 50%;
}

.projects::before {
    left: -10em;
    bottom: 0;
}

.projects::after {
    right: -10em;
    top: 8em;
    background: #8e2de2;
    background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
}

.projects .project_heading{
    margin-bottom: 0.4em;
    font-size: 6em;
    font-family: var( --font );
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index:  1;
}

/*div de cada cuadro*/
.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius:  15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

/*contenido de cada tarjeta*/
.container .card .content{
    padding: 15px;
    text-align: center;
    transition: 0.5s;
}

/*titulo de tarjeta*/
.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    margin-bottom: 15px;
}

/*Parrafo*/
.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
}

.container .card .content .links {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;

}

.container .card .content a{
   position: relative;
   display: inline-block;
   padding: 4px 10px;
   margin-top:  30px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   font-weight: 500;
   box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
   transition: all 0.4s;
}

.container .card .content a:hover {
    color: #fff;
    background: var( --secondary-color);
}

